<% provide(:title, "ホーム") %>
<%# provide(:best_nine, bestnine) %>

<div class="row">
  <div class="center jumbotron">
    <h1>マイナイン</h1>
    <% if logged_in? %>
      <%= link_to "マイナイン作成", "#" %>
    <% else %>
      <%= link_to "ログイン", login_path %>
    <% end %>
  </div>

  <% @best_nines.each do |best_nine| %>
    <div class="col-sm-4 nine_table">
      <table border="1">
        <caption><%= link_to best_nine.title,  best_nine%></caption>
        <%= render "shared/mynine_table", best_nine: best_nine %>
      </table>
    </div>
  <% end %>

  <%= will_paginate %>
</div>